/* Font */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

/* Tailwind + DaisyUI */
@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

:root {
  --primary-gradient: linear-gradient(
    to right,
    rgba(79, 57, 246, 1) 0%,
    rgba(149, 20, 250, 1) 100%
  );
}

/* Font Apply */
* {
  font-family: "Manrope", sans-serif;
}

/* Global CSS */
.text-gradient {
  background: var(--primary-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.btn-primary-custom {
  @apply text-white rounded-full;
  background-image: var(--primary-gradient);
}

.btn-secondary-custom {
  @apply btn-outline rounded-full border-[#9514fa] text-[#9514fa];
}
